*.DS_Store
.idea/*
.scannerwork/
deployment/regional-s3-assets
deployment/global-s3-assets
deployment/open-source
deployment/template_url_that_deploys_mie_as_nested_stack.txt
deployment/template_url_that_uses_an_existing_mie_stack.txt
test/coverage-reports/
*node_modules
*package
*dist
webapp-manifest.json
source/website/public/runtimeConfig.json
test/e2e/transcript.txt
*.iml
.idea/
*.pyc

