*.DS_Store
.idea/*
deployment/regional-s3-assets
deployment/global-s3-assets
deployment/template_url_that_deploys_mie_as_nested_stack.txt
deployment/template_url_that_uses_an_existing_mie_stack.txt
*node_modules
*package
*dist
webapp-manifest.json
source/website/public/runtimeConfig.json
*.iml
.idea/
*.pyc
test/coverage-reports
