*.DS_Store
.idea/*
deployment/regional-s3-assets
deployment/global-s3-assets
*node_modules
*package
*dist
package-lock.json
webapp-manifest.json
source/website/public/runtimeConfig.json
*.iml
.idea/
*.pyc

